@media only screen and (max-width: 1070px)
  {

* {
	margin: 0px;
	padding: 0px;
	}

#modal-box { position: absolute;
	background-color: #00000099;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: +1;
	display: none; }

#modal-img { 
			margin-top: 15%;
			margin-left: 35%;
			margin-right: 35%;
			width: auto; }


.oval { width: 13px; }


.main-body { display: grid;
	grid-template-columns: 1fr 4fr; }

#sec2 { display: grid;
	grid-template-columns: 1fr 1fr; }

#sec3 { display: grid;
	grid-template-columns: 1fr 1fr; }

#sec4 { display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

#sec5 { display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; }

#sec6 { display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; }

#main-col-1 {/*background-color: red;*/
				padding: 10px;
				padding-right: 20%;
			}

#main-col-2 {/*background-color: blue;*/
				padding: 20px;
				padding-left: 0%;
				margin-top: 5px;
				}

#main-col-3 {/*background-color: green;*/
				padding: 10px;}

.header {margin-left: 0.1%;
		position: fixed;}

.part1 { margin-top: 80px; }

.part2 { margin-top: 40px; }

.part3 { margin-top: 100px; }

.part4 { margin-top: 320px; }


#card { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 16px;
		padding: 30px 46px;
		margin: 10px; 
		cursor: pointer;}

.card2 { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 16px;
		position: absolute;
		
		height: 190px;
		width: 18%;
		cursor: pointer;
		transition-duration: 0.1s;
				}

.card2:hover { 
		box-shadow: 0px 0px 10px #00000080;
		transition-duration: 0.3s;
				}

.card-blog { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 16px;
		position: absolute;
		background-size: 100% auto;
		height: auto;
		width: 91%;
		cursor: pointer;
		transition-duration: 0.1s;
		position: relative;
				}

.card3 { 
		margin: 0px 4% 40px 4%;
		height: 190px;
		width: 92%;
		cursor: pointer;
		transition-duration: 0.1s;
				}

/*.card3 { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 16px;
		position: relative;
		margin: 0px 4% 40px 4%;
		height: 270px;
		width: 92%;
		cursor: pointer;
		transition-duration: 0.1s;
		background-size: 100% auto;
		
				}*/

.card3:hover { 
		box-shadow: 0px 0px 10px #00000080;
		transition-duration: 0.3s;
				}

.card4 { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 16px;
		position: relative;
		height: auto;
		width: 92%;
		margin: 0px 4%;
		cursor: pointer;
		transition-duration: 0.1s;
				}

.card4:hover { 
		box-shadow: 0px 0px 10px #00000080;
		transition-duration: 0.3s;
				}

#card5 { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 16px;
		position: relative;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 400px;
		background-position: top;

	}


.scroll-block { display: none;
				 }

.card-overlay { background-color: white;
				width: 100%;
				height: 60px; 
				border-radius: 0px 0px 16px 16px;
				margin-top: 130px;
				transition-duration: 0.3s;

				}

.card-overlay-2 { background-color: white;
				width: 100%;
				height: 70px; 
				border-radius: 0px 0px 16px 16px;
				margin-top: 330px;
				transition-duration: 0.3s;
				position: absolute;
				}

.card-overlay-3 { background-color: white;
				width: 100%;
				height: 80px; 
				border-radius: 0px 0px 16px 16px;
				margin-top: 320px;
				transition-duration: 0.3s;
				position: absolute;
				}

.card2:hover .card-overlay { background-color: white;
				width: 100%;
				height: 60px; 
				border-radius: 0px 0px 16px 16px;
				margin-top: 130px;
				transition-duration: 0.3s;
				}

.card3:hover .card-overlay { background-color: white;
				width: 100%;
				height: 60px; 
				border-radius: 0px 0px 16px 16px;
				margin-top: 130px;
				transition-duration: 0.3s;
				}


.img-caption-text { 
			font-size: 12px;
			color: black;
			font-weight: 300;
			line-height: 20px;
			margin-top: 10px;
			margin-left: 18px;
			letter-spacing: 0px;
			 }

.bttn { 
		color: #2B67FF;
		font-weight: 600;
		font-size: 12px;
		background-color: #EBE6FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin: 15px 0px;
		transition-duration: 0.1s;
		cursor: pointer;
		 }

.bttn:hover { 
		padding-left: 20px;
		padding-right: 6px;
		transition-duration: 0.3s;
		
		 }

.bttn-selected { 
		color: white;
		font-weight: 600;
		font-size: 12px;
		background-color: #2B67FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin: 15px 0px;
		transition-duration: 0.1s;
		cursor: pointer;
		 }

.bttn2 { 
		color: white;
		font-weight: 600;
		font-size: 12px;
		background-color: #2B67FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin: 10px 5px;
		float: right;
		transition-duration: 0.1s;
		cursor: pointer;
		 }

.menu-set:hover .bttn2 { 
		padding-left: 20px;
		padding-right: 20px;
		transition-duration: 0.3s;
		
		 }

.bttn3 { 
		color: #2B67FF;
		font-weight: 600;
		font-size: 12px;
		background-color: #EBE6FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin-right: 10px;
		transition-duration: 0.1s;
		cursor: pointer;
		 }

.bttn3:hover { 
		padding-left: 20px;
		padding-right: 20px;
		transition-duration: 0.3s;
		
		 }

.bttn4 {
		color: white;
		font-weight: 600;
		font-size: 12px;
		background-color: #2B67FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin: 10px 28%;
		
		transition-duration: 0.1s;
		cursor: pointer;
		 }

.bttn4:hover { 
		padding-top: 4px;
		padding-bottom: 20px;
		transition-duration: 0.3s;
		
		 }


.bttn5 {
		color: #2B67FF;
		font-weight: 600;
		font-size: 12px;
		background-color: #EBE6FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin-right: 10px;
		transition-duration: 0.1s;
		cursor: pointer;
		 }

.bttn5:hover { 
		padding-left: 20px;
		padding-right: 20px;
		transition-duration: 0.3s;
		
		 }

h1 { 
		font-size: 40px;
		letter-spacing: -0.7px;
		line-height: 50px;
		font-weight: 600; }

h2 {
		font-size: 26px;
		letter-spacing: -0.6px;
		line-height: 39px;
		font-weight: 600;
		
		margin-bottom: 40px;
 }

 h3 { 
		font-size: 14px;
		letter-spacing: 0px;
		line-height: 20px;
		font-weight: 600;
		margin-left: 15px;
		padding-top: 10px;
		color: #6D7278;
		margin-top: 0px;
 }

 .card3:hover h3 { margin-top: 0px;
 					 }

 h4 { 
		font-size: 14px;
		letter-spacing: 0.4px;
		line-height: 20px;
		font-weight: 600;
		margin-left: 10px;
		padding-top: 10px;
		color: #6D7278;
		margin-top: 0px;
		padding-right: 30px;

 }

h4 a { text-decoration: none;
		color: #6D7278; }

h5 { 
		font-size: 20px;
		letter-spacing: 0.4px;
		line-height: 25px;
		font-weight: 600;
		margin-left: 0px;
		padding-top: 10px;
		color: #6D7278;
		margin-top: 0px;
 }

h6 { 
		font-size: 30px;
		letter-spacing: 0.6px;
		line-height: 44px;
		font-weight: 700;
		padding-left: 20px;
		padding-top: 14px;
 }

.caption { 
		font-size: 18px;
		letter-spacing: 1px;
		line-height: 40px;
		font-weight: 200;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 10px;
 }

.card-bttn { padding: 12px;
			box-shadow: 0px 0px 30px #00000030;
			border-radius: 12px;
			cursor: pointer;
			position: relative;
			
			font-weight: 600;
			font-size: 16px;
			letter-spacing: 0px;
			margin: 10px 10px;
			transition-duration: 0.1s; 
			float: left;
			}

.card-bttn:hover { box-shadow: 0px 0px 10px #00000080;
					transition-duration: 0.3s;
					 }

.title { 
			font-size: 22px;
			letter-spacing: -0.51px;
			color: #6D7278;
			font-weight: 600;
			text-align: right;
			line-height: 26px;
			margin-top: 20px; 
			padding-right: 30px;
			width: 100%;}

.designation { 
			font-size: 12px;
			color: black;
			font-weight: 300;
			line-height: 30px;
			margin-top: 10px;
			 }

.context { 
			font-size: 12px;
			color: black;
			font-weight: 300;
			line-height: 18px;
			margin-left: 10px;
			margin-top: 0px;

			 }

.body-text-main { 
			font-size: 14px;
			color: black;
			font-weight: 400;
			line-height: 30px;
			margin-top: 10px;
			margin-bottom: 15px;
			letter-spacing: 0.6px;
			 }

.subtext-card { 
			font-size: 10px;
			color: black;
			font-weight: 300;
			line-height: 24px;
			margin-left: 15px;
			margin-top: 0px;
			 }

.brief { display: none;
			 }


.card2:hover .brief { 
			opacity: 0.6;
			margin-top: 8px;
			transition-delay: 0.1s;
			transition-duration: 0.3s;
			 }

.card3:hover .brief { 
			opacity: 0.6;
			margin-top: 8px;
			transition-delay: 0.1s;
			transition-duration: 0.3s;
			 }

.process-img { width: 90%;
				height: auto; }

.menu.set { margin: 0px;
			padding: 0px;
 }


#menu-list { 
		padding: 60px 0px;
		margin: 0px 0px;
		text-decoration: none;
		display: none;
		 }

/*.menu-set:hover #menu-list { display: block; }*/


#menu-list li a { text-decoration: none; }

.cancel-bttn { display: block; }

li { text-decoration: none;
	padding: 8px 0px;
	
		color: #2B67FF;
		font-weight: 400;
		font-size: 13px;
		text-align: right;
		letter-spacing: -0.2px;
		transition-duration: 0.1s;
		list-style: none; 
		line-height: 20px;}

li:hover { 
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.2px;
		transition-duration: 0.2s; }

.arrows-icon { width: 11px;
			height: 11px;
			padding-left: 8px; }

.footer { padding: 70px 50px;
			background-color: white;
			margin-top: 260px; }

html { scroll-behavior: smooth; }

}