@import url('https://fonts.googleapis.com/css?family=Montserrat:200, 300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400,600,700,800&display=swap');
* {
	margin: 0px;
	padding: 0px;
	
	}


#modal-box { position: absolute;
	background-color: #00000099;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: +1;
	display: none; }

#modal-img { 
			margin-top: 5%;
			margin-left: 40%;
			margin-right: 40%;
			width: auto; }

.oval { width: 20px; }

/*#poster-main { position: fixed;
				z-index: -1;
				width: 100%;
				height: auto;
				opacity: 0%;
				display: block; 
				transition-duration: 0.5s;
				transition-delay: 0.1s;
				}*/




.main-body { display: grid;
	grid-template-columns: 1fr 4fr 1fr; }

#sec2 { display: grid;
	grid-template-columns: 1fr 1fr; }

#sec3 { display: grid;
	grid-template-columns: 1fr 1fr; }

#sec4 { display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

#sec5 { display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; }

#sec6 { display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; }

#main-col-1 {/*background-color: red;*/
				padding: 10px;
			}

#main-col-2 {/*background-color: blue;*/
				padding: 10px;
				padding-left: 8%;
				margin-top: 5px;
				}

#main-col-3 {/*background-color: green;*/
				padding: 10px;}

.five-img-segment { display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.three-img-segment { display: grid;
	grid-template-columns: 1fr 1fr 1fr; }

.three-segment-1-2-2 { display: grid;
	grid-template-columns: 1fr 2fr 2fr; }

.two-img-segment { display: grid;
	grid-template-columns: 1fr 1fr; }

.header {margin-left: 3%;
		position: fixed;}

.part1 { margin-top: 90px; }

.part2 { margin-top: 60px; }

.part3 { margin-top: 100px; }

.part4 { margin-top: 470px; }


#card { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 18px;
		padding: 30px 46px;
		margin: 10px 10px; 
		}

.card2 { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 18px;
		position: absolute;
		background-size: 100% auto;
		height: 270px;
		width: 210px;
		cursor: pointer;
		transition-duration: 0.1s;
				}

.card-blog { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 18px;
		position: absolute;
		background-size: 100% auto;
		height: auto;
		width: 93%;
		cursor: pointer;
		transition-duration: 0.1s;
		position: relative;
				}

@media only screen and (max-width: 1330px)
  {

.card2 { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 18px;
		position: absolute;
		background-size: 110% auto;
		height: 260px;
		width: 190px;
		cursor: pointer;
		transition-duration: 0.1s;
				}

  }

.card2:hover { 
		box-shadow: 0px 0px 10px #00000080;
		transition-duration: 0.3s;
				}

.card3 { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 18px;
		position: relative;
		margin: 0px 4% 40px 4%;
		height: 270px;
		width: 92%;
		cursor: pointer;
		transition-duration: 0.1s;
		background-size: 100% auto;

				}

.card3:hover { 
		box-shadow: 0px 0px 10px #00000080;
		transition-duration: 0.3s;
				}

.card4 { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 18px;
		position: relative;
		height: auto;
		width: 92%;
		margin: 0px 4%;
		cursor: pointer;
		transition-duration: 0.1s;
				}

.card4:hover { 
		box-shadow: 0px 0px 10px #00000080;
		transition-duration: 0.3s;
				}


#card5 { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 18px;
		position: relative;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 540px;
		background-position: top;
		margin-top: 10px;
	}


.scroll-block { display: none;
				 }



.card-overlay { background-color: white;
				width: 100%;
				height: 70px; 
				border-radius: 0px 0px 18px 18px;
				margin-top: 200px;
				transition-duration: 0.3s;
				position: absolute;
				}

.card-overlay-2 { background-color: white;
				width: 100%;
				height: 80px; 
				border-radius: 0px 0px 18px 18px;
				margin-top: 460px;
				transition-duration: 0.3s;
				position: absolute;
				}

.card-overlay-3 { background-color: white;
				width: 100%;
				height: 80px; 
				border-radius: 0px 0px 18px 18px;
				margin-top: 320px;
				transition-duration: 0.3s;
				position: absolute;
				}

.card2:hover .card-overlay { background-color: white;
				width: 100%;
				height: 270px; 
				border-radius: 18px 18px 18px 18px;
				margin-top: 0px;
				position: relative;
				transition-duration: 0.3s;
				}

.card3:hover .card-overlay { background-color: white;
				width: 100%;
				height: 270px; 
				border-radius: 18px 18px 18px 18px;
				margin: 0px;
				
				transition-duration: 0.3s;
				}

.img-text-segment { display: grid;
				grid-template-columns: 1fr 1fr;
				margin: 40px 0px; }

.img-text-segment-1-3 { display: grid;
	grid-template-columns: 1fr 3fr;  }

.img-packet { padding: 10px; }

.text-segment { padding: 30px 20px; }

.img-card { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 18px;
		position: relative;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: auto;
		width: 100%;
		margin-top: 0px;
	}

.img-card-plain { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		position: relative;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: auto;
		width: 90%;
		margin: 5%;
	}

.img-card-trans { 
		
		position: relative;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: auto;
		width: 100%;
		margin-top: 0px;
	}

.img-caption-text { font-family: montserrat;
			font-size: 14px;
			color: black;
			font-weight: 300;
			line-height: 30px;
			margin-top: 10px;
			margin-left: 18px;
			letter-spacing: 0px;
			 }

.bttn { font-family: Open Sans;
		color: #2B67FF;
		font-weight: 400;
		font-size: 14px;
		background-color: #EBE6FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin: 15px 5px;
		transition-duration: 0.1s;
		cursor: pointer;
		text-transform: uppercase;
		 }

.bttn:hover { 
		padding-left: 20px;
		padding-right: 6px;
		transition-duration: 0.3s;
		
		 }

.bttn-selected { font-family: Open Sans;
		color: white;
		font-weight: 400;
		font-size: 14px;
		background-color: #2B67FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin: 15px 5px;
		transition-duration: 0.1s;
		cursor: pointer;
		text-transform: uppercase;
		 }

.bttn2 { font-family: Open Sans;
		color: white;
		font-weight: 400;
		font-size: 14px;
		background-color: #2B67FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin: 10px 5px;
		float: right;
		transition-duration: 0.1s;
		cursor: pointer;
		text-transform: uppercase;
		 }

.bttn2:hover { 
		padding-left: 20px;
		padding-right: 20px;
		transition-duration: 0.3s;
		
		 }


.bttn3 { font-family: Open Sans;
		color: #2B67FF;
		font-weight: 400;
		font-size: 14px;
		background-color: #EBE6FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin-right: 10px;
		transition-duration: 0.1s;
		cursor: pointer;
		text-transform: uppercase;
		 }

.bttn3:hover { 
		padding-left: 20px;
		padding-right: 20px;
		transition-duration: 0.3s;
		
		 }

.bttn4 { font-family: Open Sans;
		color: white;
		font-weight: 400;
		font-size: 14px;
		background-color: #2B67FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin: 10px 38.7%;
		transition-duration: 0.1s;
		cursor: pointer;
		text-transform: uppercase;
		 }

.bttn4 a { text-decoration: none;
			color: white; }

.bttn4:hover { 
		padding-top: 4px;
		padding-bottom: 20px;
		transition-duration: 0.3s;
		
		 }

.bttn5 { font-family: Open Sans;
		color: #2B67FF;
		font-weight: 400;
		font-size: 14px;
		background-color: #EBE6FF;
		letter-spacing: 1px;
		padding: 10px;
		text-decoration: none;
		border-radius: 12px;
		border-width: 0px;
		margin-right: 10px;
		transition-duration: 0.1s;
		cursor: pointer;
		text-transform: uppercase;
		 }

.bttn5:hover { 
		padding-left: 20px;
		padding-right: 20px;
		transition-duration: 0.3s;
		
		 }

h1 { font-family: Open Sans;
		font-size: 50px;
		letter-spacing: 1px;
		line-height: 70px;
		font-weight: 600;
		/*color: #d1d1d1;*/ }

h2 { font-family: Open Sans;
		font-size: 32px;
		letter-spacing: 0.4px;
		line-height: 39px;
		font-weight: 600;
		margin-bottom: 60px;
		margin-top: 60px;
 }

 h3 { font-family: Open Sans;
		font-size: 20px;
		letter-spacing: 0px;
		line-height: 25px;
		font-weight: 600;
		margin-left: 15px;
		padding-top: 10px;
		color: #6D7278;
		margin-top: 0px;
		transition-duration: 0.1s;
 }

 .card3:hover h3 { margin-top: 15px;
 					transition-duration: 0.5s; }

 h4 { font-family: Open Sans;
		font-size: 20px;
		letter-spacing: 0.4px;
		line-height: 25px;
		font-weight: 600;
		margin-left: 10px;
		padding-top: 15px;
		color: #6D7278;
		margin-top: 0px;
		padding-right: 30px;

 }

h4 a { text-decoration: none;
		color: #6D7278; }

h5 { font-family: Open Sans;
		font-size: 20px;
		letter-spacing: 0.4px;
		line-height: 25px;
		font-weight: 600;
		margin-left: 0px;
		padding-top: 0px;
		color: #6D7278;
		margin-top: 60px;
		margin-bottom: 10px;
 }

h6 { font-family: Open Sans;
		font-size: 40px;
		letter-spacing: 0.6px;
		line-height: 49px;
		font-weight: 700;
		padding-left: 20px;
		padding-top: 16px;
 }

.caption { font-family: Open Sans;
		/*font-style: italic;*/
		font-size: 20px;
		letter-spacing: 1px;
		line-height: 40px;
		font-weight: 200;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 10px;
		padding-bottom: 20px;

 }

.link-bttn { font-family: Open Sans;
		color: #2B67FF;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 1px;
		margin: 30px 0px;

	 }

.link-bttn:hover { text-decoration: underline;
	 }

.link-bttn a { text-decoration: none; }


.card-bttn { padding: 11px;
			box-shadow: 0px 0px 30px #00000030;
			border-radius: 12px;
			cursor: pointer;
			position: relative;
			font-family: Open Sans;
			font-weight: 400;
			font-size: 16px;
			letter-spacing: 1px;
			margin: 5px 10px;
			transition-duration: 0.1s; 
			float: right;}

.card-bttn:hover { box-shadow: 0px 0px 10px #00000080;
					transition-duration: 0.3s;
					 }


.title { font-family: Open Sans;
			font-size: 34px;
			letter-spacing: -0.51px;
			color: #6D7278;
			font-weight: 700;
			text-align: right;
			line-height: 38px;
			margin-top: 20px; 
			
			width: 100%;}

.designation { font-family: montserrat;
			font-size: 16px;
			color: black;
			font-weight: 300;
			line-height: 30px;
			margin-top: 10px;
			letter-spacing: 0.6px;
			 }

.context { font-family: montserrat;
			font-size: 14px;
			color: black;
			font-weight: 300;
			line-height: 24px;
			margin-left: 10px;
			margin-top: 0px;
			margin-bottom: 30px;
			 }

.body-text-main { font-family: Open Sans;
			font-size: 14px;
			color: black;
			font-weight: 400;
			line-height: 30px;
			margin-top: 10px;
			margin-bottom: 15px;
			letter-spacing: 0.6px;
			 }

.subtext-card { font-family: Open Sans;
			font-size: 14px;
			color: black;
			font-weight: 300;
			line-height: 24px;
			margin-left: 15px;
			margin-top: 0px;
			 }

.brief { font-family: Open Sans;
			font-size: 14px;
			opacity: 0;
			font-weight: 300;
			line-height: 24px;
			margin-left: 15px;
			margin-right: 10px;
			margin-top: -130px;
			transition-duration: 0.1s;
			color: black;
			 }


.card2:hover .brief { 
			opacity: 0.6;
			margin-top: 8px;
			transition-delay: 0.1s;
			transition-duration: 0.3s;
			 }

.card3:hover .brief { 
			opacity: 0.6;
			margin-top: 8px;
			transition-delay: 0.1s;
			transition-duration: 0.3s;
			 }

.process-img { width: 90%;
				height: auto; }

.menu-set { margin: 0px;
			padding: 0px;
 }


#menu-list { 
		padding: 60px 0px;
		margin: 0px 0px;
		text-decoration: none;
		display: block;
		 }

/*.menu-set:hover #menu-list { display: block; }
*/

#menu-list li a { text-decoration: none;
				color: #2B67FF; }

.cancel-bttn { display: none; }

li { text-decoration: none;
	padding: 8px 0px;
	font-family: Open Sans;
		color: #2B67FF;
		font-weight: 300;
		font-size: 16px;
		text-align: right;
		letter-spacing: -0.2px;
		transition-duration: 0.1s;
		list-style: none; }

li:hover { 
		font-weight: 600;
		font-size: 17px;
		letter-spacing: 0px;
		transition-duration: 0.2s; }

.gallery-col-main { display: grid;
	grid-template-columns: 1fr 1fr; }

.gallery-level-22 { display: grid;
	grid-template-columns: 1fr 1fr; }


.arrows-icon { width: 11px;
			height: 11px;
			padding-left: 8px; }

.social-icon { width: 25px;
			height: 25px;
			padding: 10px; }


.icon-card  { background-color: white;
		box-shadow: 0px 0px 30px #00000030;
		border-radius: 18px;
		position: absolute;
		height: 25px;
		width: 25px;
		transition-duration: 0.1s;
		position: relative;
		margin: 5px 10px;
				}

.icon-card:hover { 
		box-shadow: 0px 0px 10px #00000080;
		transition-duration: 0.3s;
				}


.footer { padding: 70px 50px;
			background-color: white;
			align-self: center;
			 }

html { scroll-behavior: smooth; }

